<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <button type="button" class="btn btn-success" routerLink="/login" *ngIf="!authService.checkAuthStatus()">Login</button>
      <button type="button" class="btn btn-danger" *ngIf="authService.checkAuthStatus()" (click)="logout()">Logout</button>
      <button type="button" class="btn btn-primary ml-3" routerLink="/home">Back to home</button>
    </a>
  </nav>