<app-header></app-header>
<div class="text-center pt-3">
  <form [formGroup]="loginForm">
    <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>

    <input
      type="email"
      id="inputEmail"
      class="form-control my-3"
      [ngClass]="{ error: loginForm.controls.email.errors }"
      placeholder="Email address"
      formControlName="email"
      required
      autofocus
    />

    <input
      type="password"
      id="inputPassword"
      class="form-control mb-3"
      [ngClass]="{ error: loginForm.controls.password.errors }"
      placeholder="Password"
      formControlName="password"
      required
    />
    <p *ngIf="loginForm.controls.password.errors">
      Please make sure that your password is at least 8 characters long and that
      is has at least 1 uppercase character, 1 lowercase character, 1 number and
      1 special character
    </p>
    <button
      class="btn btn-lg btn-primary btn-block"
      type="button"
      [disabled]="!loginForm.valid"
      (click)="login()"
    >
      Sign in
    </button>
  </form>
</div>
