<app-header></app-header>
<div
  class="container d-flex justify-content-center pt-3"
  *ngIf="authService.checkAuthStatus()"
>
  <div class="row">
    <div class="row">
      <div class="col mx-5">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic1"
            ngbDropdownToggle
          >
            Select Character 1
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button
              ngbDropdownItem
              *ngFor="let character of characters"
              (click)="selectFirstCharacter(character)"
            >
              {{ character.name }}
            </button>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <p>Name:&nbsp;</p>
          <p *ngIf="firstCharacter">{{ firstCharacter.name }}</p>
        </div>
        <div class="row d-flex justify-content-center">
          <p>Height:&nbsp;</p>
          <p *ngIf="firstCharacter">{{ firstCharacter.height }}cm</p>
        </div>
        <div class="row d-flex justify-content-center">
          <p>Mass:&nbsp;</p>
          <p *ngIf="firstCharacter">{{ firstCharacter.mass }}kg</p>
        </div>
        <div class="row d-flex justify-content-center">
          <p>Homeworld:&nbsp;</p>
          <p *ngIf="firstCharacter">{{ firstCharacter.homeworld }}</p>
        </div>
      </div>

      <div class="col text-right mx-5">
        <div ngbDropdown class="d-inline-block">
          <button
            class="btn btn-outline-primary"
            id="dropdownBasic2"
            ngbDropdownToggle
          >
            Select Character 2
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
            <button
              ngbDropdownItem
              *ngFor="let character of characters"
              (click)="selectSecondCharacter(character)"
            >
              {{ character.name }}
            </button>
          </div>
        </div>
        <div class="row d-flex justify-content-center">
          <p>Name:&nbsp;</p>
          <p *ngIf="secondCharacter">{{ secondCharacter.name }}</p>
        </div>
        <div class="row d-flex justify-content-center">
          <p>Height:&nbsp;</p>
          <p *ngIf="secondCharacter">{{ secondCharacter.height }}cm</p>
        </div>
        <div class="row d-flex justify-content-center">
          <p>Mass:&nbsp;</p>
          <p *ngIf="secondCharacter">{{ secondCharacter.mass }}kg</p>
        </div>
        <div class="row d-flex justify-content-center">
          <p>Homeworld:&nbsp;</p>
          <p *ngIf="secondCharacter">{{ secondCharacter.homeworld }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container d-flex justify-content-center pt-3"
  *ngIf="!authService.checkAuthStatus()"
>
  <div class="row">
    <div class="col-12 d-flex justify-content-center">
      <h3>Please login to compare characters!</h3>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <button type="button" class="btn btn-success" routerLink="/login">
        Go to login page
      </button>
    </div>
  </div>
</div>
